/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: 'Exo 2', sans-serif;
    color: #333;
    background: #f4f4f4; /* Fond éclairci pour plus de contraste */
}

/* Header - Styles consolidés */
header {
    background: #B34F2A; /* Couleur de fond de l'en-tête ajustée à terre cuite */
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Navigation */
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

header nav ul li a:hover {
    color: #BAC9CC; /* Changement de la couleur de survol pour plus de douceur */
    background-color: #963d26; /* Fond de survol ajusté */
    padding: 5px 10px;
    border-radius: 3px;
}

/* Styles pour les polices Google importées */
h1, h2, h3 {
    font-family: 'Amiri', serif; /* Utilisation de la police Amiri pour les titres */
}

/* Section d'accueil */
#accueil {
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

#accueil h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

#accueil p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Bouton d'appel à l'action WhatsApp */
.whatsapp-contact {
    display: inline-block;
    background: #25d366; /* Couleur de WhatsApp */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.whatsapp-contact:hover {
    background: #128c7e; /* Assombrissement du bouton au survol */
}

/* Autres sections et éléments */
/* ... */

/* Footer */
footer {
    background: #333; /* Fond plus foncé pour le contraste */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Média queries pour la responsivité */
@media only screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    /* Ajoute ici d'autres styles responsifs si nécessaire */
}
